{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Вход в личный кабинет</title>{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<h2>Вход выполнен</h2>
<a href="{% url 'logout' %}">выйти</a>

{% else %}
<div class="row justify-content-center align-items-center">
    <div class="col-4">
        <h2>Вход в личный кабинет</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}