{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}<title>{{post.title}}</title>{% endblock %}


{% block content %}
<div class="row">

    <div class="col-4">
        {% if post.image %}
        <img src="{{post.image.url}}" height="300" alt="">
        {% else %}
        <img src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns="
             height="300" alt="">
        {% endif %}
    </div>
    <div class="col">
        <a class="btn btn-primary mb-2 " href="{% url 'post_update' post.slug %}" role="button">Редактировать</a>
        <a class="btn btn-danger mb-2 " href="{% url 'post_delete' post.slug %}" role="button">Удалить</a>
        <h2>{{post.title}}</h2>
        <p>Автор - {{post.autor}}</p>
        <p>{{post.body}}</p>
        <p>Опубликованно {{post.date}}</p>
    </div>




    {% if comments %}
    <div class="row">
        {% for comment in comments %}
        <div class="col-5 m-2 card">
            <div class="card-body">
                <p>От - {{comment.autor}}</p>
                <p>{{comment.comment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success mt-2">Добавить комментарий</button>
    </form>

    {% endblock %}