{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}<title>{{post.title}}</title>{% endblock %}


{% block content %}
<div class="row">

    <div class="col-4">
        {% if post.image %}
        <img class="img-fluid" src="{{post.image.url}}" alt="">
        {% else %}

        <img class="img-fluid" src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns="
             height="300" alt="">
        {% endif %}
        {% if can_update %}
        <div class="col mt-3">
            <a class="btn btn-primary mb-2 " href="{% url 'post_update' post.slug %}" role="button">Редактировать</a>
            <a class="btn btn-danger mb-2 " href="{% url 'post_delete' post.slug %}" role="button">Удалить</a>
        </div>

        {% endif %}
    </div>
    <div class="col">

        {% if post.author %}
        <h2><a href="{% url 'author_post_list' post.author.pk  %}">{{post.author}}</a>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color: cornflowerblue">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        </h2>
        {% else %}
        <h2>{{post.anonimus_name}}</h2>
        {% endif %}

        <h1>{{post.title}}</h1>
        <p>{{post.date}}</p>
        <p>{{post.text}}</p>
    </div>


    {% if comments %}
    <div class="row">
        {% for comment in comments %}

        <div class="col-3 card">
            <div class="card-body">
                {% if comment.author %}
                <p>{{comment.author}}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color: cornflowerblue">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>

                </p>
                {% else %}
                <p>{{comment.anonimus_name}}</p>
                {% endif %}
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success mt-2">Отправить</button>
    </form>

    {% endblock %}