{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>create_post</title>{% endblock %}


{% block content %}

<h2>Новый пост</h2>


<div class="col-6">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if not user.is_authenticated %}
        <br>
        {{form.unregistered_author.label}} - {{form.unregistered_author.as_widget}}
        {% endif %}
        <br>
        {{form.title.label}} - {{form.title.as_widget}}
        <br>
        {{form.text.label}} - {{form.text.as_widget}}
        <br>
        {{form.image.label}} - {{form.image.as_widget}}

        <button type="submit" class="btn btn-success mt-2 mb-2">Добавить</button>
    </form>
</div>


{% endblock %}