{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}<title>{{post.title}}</title>{% endblock %}


{% block content %}
<div class="row">
    {% if post.image %}
        <div class="col-4">
            <img src="{{post.image.url}}" height="300" alt="">
        </div>
    <div class="col">
            {% if user.is_authenticated %}
            {% if user.username == post.autor %}
                <a class="btn btn-primary mb-2 " href="{% url 'post_update' post.pk %}" role="button">Редактировать</a>
                <a class="btn btn-danger mb-2 " href="{% url 'post_delete' post.pk %}" role="button">Удалить</a>
            {% endif %}
        {% endif %}
        <h2>{{post.title}}</h2>
        <p>Автор - {{post.autor}}</p>
        <p>{{post.body}}</p>
        <p>Опубликованно {{post.date}}</p>
    </div>
    {% else %}
    <div class="col">
            {% if user.is_authenticated %}
                <a class="btn btn-primary mb-2 " href="{% url 'post_update' post.pk %}" role="button">Редактировать</a>
                <a class="btn btn-danger mb-2 " href="{% url 'post_delete' post.pk %}" role="button">Удалить</a>
            {% endif %}
        <h2>{{post.title}}</h2>
        <p>Автор - {{post.autor}}</p>
        <p>{{post.body}}</p>
        <p>Опубликованно {{post.date}}</p>
    </div>
    {% endif %}

    {% if comments %}
    <div class="row">


        {% for comment in comments %}
        <div class="col-5 m-2 card">
            <div class="card-body">
                <p>От - {{comment.autor}}</p>
                <p>{{comment.comment}}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success mt-2">Добавить комментарий</button>
        </form>
    {% endif %}
    {% endblock %}